.overview {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 3%;
  padding-right: 3%;
}

.overviewTop {
  width: 100%;
  display: flex;
}

.rightCol {
  float: right;
  width: 60%;
}

.addToCart {
  display: flex;
  flex-direction: column;
}

.addToCart #value {
  display: flex;
}

.addToCart #values #selectSize{
  width: 30%;
  margin: 1% 5% 1% 0%;
  padding: 0.5%;
  height: 35px;
}

.addToCart #values #selectQuantity{
  width: 30%;
  margin: 1% 5% 1% 0%;
  padding: 0.5%;
  height: 35px;
}

.addToCart #buyButton {
  width: 30%;
  padding: 1%;
  font-size: 22px;
  font-weight: bolder;
}


.leftCol {
  float: right;
  width: 60%;
  display: flex;
}

.imageContainer {
  display: flex;
  flex-direction: row;
}

.imageContainer .selectionImgColumn {
  display: flex;
  flex-direction: column;
  float: left;
  width: 10%;
  height: 100%;
  overflow: auto;
  white-space: nowrap;
}

.imageContainer .selectionImgColumn .selectionImages {
  display: flex;
  flex-direction: column;
  float: left;
  overflow: auto;
  white-space: nowrap;
}

.imageContainer .selectionImgColumn .selectionImg {
  padding-bottom: 5%;
  object-fit: fill;
}

.imageContainer .mainImage-container{
  position: relative;
  float: right;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainImage-container .btn-left {
  position: absolute;
  top: 50%;
  left: 5%;
  color: black;
  font-size: 40px;
  background-color:#F0F0F0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mainImage-container .btn-right {
  position: absolute;
  top: 50%;
  right: 5%;
  color: black;
  font-size: 40px;
  background-color: #F0F0F0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.imageContainer .mainImage-container .mainImage {
  width: inherit;
  /*height: auto;*/
  cursor: zoom-in;
  display:block;
  margin: 1%;
  padding: 0%, 3%;
}


.mainPopup {
  object-fit: cover;
  display:block;
  margin-left: auto;
  margin-right: auto;
  height: inherit;

}

.detailedInformation {
  padding-top: 50px;
  width: 100%;
  display: flex;
}

.infoFreeText {
  float:left;
  width: 59%;
  margin-right:2%
}

.infoHighlights {
  float: right;
  width: 40%;
  border-left: solid 3px;
  display: table;
  vertical-align: middle;
  margin-top: 3%;
  padding-left: 2%;
}

.infoHighlights span {
  display: table-row;
  vertical-align: middle;
}

.arrowDown {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#salesPrice {
  color: red;
  font-weight: bold;
}
#originalPrice {
  text-decoration: line-through;
}

.style-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 50%;

}
.style-container {
  width: 18%;
  padding-right: 5%;
}

.style {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.style:before{
  content: "";
  display: block;
  padding-top: 100%;
}

.style-name {
  text-align: center;
  padding-top: 5%;
  font-size: 10;
}
.style img{
  position: absolute; /* Take your picture out of the flow */

  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
  background-size: 50% 50%;
  margin-right: 20px;
}

.style figcaption{
  text-align: center;
}

.popup-close-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.topright {
  position: absolute;
  right: 0;
  top: 0
}

