.review-tile {
  display: grid;
  grid-template-columns: 15%  15% 35% 20% 15%;
  grid-template-rows: 25px auto auto auto auto auto auto 10%;
  border-bottom: 1px solid rgba(82,69,51,255);
  overflow: hidden;
  margin-right: 1px;
  margin-bottom: 5px;
}
.star-rating {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.review-date-username {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: end;
  text-align: right;
}
.review-summary {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
.review-summary-cont {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}
.review-body {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  overflow: auto;
  min-height: 35px;
}
.recommend {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
}
.response {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
  background-color: #555;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
.helpful {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 8;
  padding-bottom: 5px;
}
.helpful-button {
  cursor: pointer;
}
.helpful-button:hover {
  color: rgb(0, 56, 0);
}
.report-button:hover {
  cursor: pointer;
  color: rgb(56, 0, 0);
}
.check {
  height: 15px;
  width: auto;
}
.helpful .fa-check:before  {
  color: #d0ab29;
}
.recommend .fa-check:before {
  color: #d0ab29;
}
.tile-thumb {
  max-height: 70px;
  width: auto;
}
