.rr-main {
  display: grid;
  grid-template-columns: 210px auto;
  grid-template-rows: 20px 250px auto;
  margin-top: 20px;
}
.rr-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.rating-breakdown {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.review-list {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}
