.review-tile {
  display: grid;
  grid-template-columns: 15%  15% 40% 15% 15%;
  grid-template-rows: 10% auto auto auto auto auto 10%;
  border: 1px solid;

}
.star-rating {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.review-date-username {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: end;
}
.review-summary {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}
.review-body {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}
.recommend {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
.response {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
  background-color: #555;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
.helpful {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}
.check {
  height: 15px;
  width: auto;
}