.review-list {
  display: grid;
  grid-template-columns: 200px 200px 50%;
  grid-template-rows: 25px auto 50px;
}
.sort {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  font-size: larger;
}
.filter-display {
  background-color: rgba(190, 190, 190, 0.548);
  border-radius: 5px;
  cursor: pointer;
  margin-right: 3px;
  padding: 1px;
}
.filter-display:hover {
  background-color: rgba(143, 143, 143, 0.548);;
}
.x {
  height: 12px;
}
.sort-select, select, option {
  font-size: large;
  height: 85%;
}
.rr-tile-list {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}
.more-reviews {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.add-review {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.rr-button {
  background-color: #555;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 5%;
  font-size: larger;
  cursor: pointer;
}
