.review-list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto 50px;
}
.sort {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-size: larger;
}
.filter-display {
  background-color: rgba(190, 190, 190, 0.548);
  border-radius: 5px;
  cursor: pointer;
  margin-right: 3px;
  padding: 1px;
}
.filter-display:hover {
  background-color: rgba(143, 143, 143, 0.548);;
}
.x {
  height: 12px;
}
.sort-select, select, option {
  font-size: large;
  height: 25px;
}
.keyword-search {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: end;
}
.rr-tile-list {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}
.rr-button-bar {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 150px 150px auto;
  grid-template-rows: auto;
}
.more-reviews {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.add-review {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.rr-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  /* border-radius: 5px; */
  /* border: none; */
  margin: 5%;
  font-size: larger;
  cursor: pointer;
}
.rr-button:hover {
  background-color: rgb(255, 255, 80);
}
