.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.riac-productcard-header {
  color: black;
  padding-bottom: 20px;
}


.riac-productcard {
  height: 600px;
  width: 300px;
  border: 1px solid;
  color: black;
}

.riac-productcard-image {
  position: relative;
  width: 80%;
}

.riac-productcard-image img {
  width: 100;
  height: auto;
}

.riac-productcard-image .riac-productcard-button {
  position: absolute;
  top: 10%;
  left: 100%;
  transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.riac-productcard-category {
  padding: 5px;
}

.riac-productcard-name {
  padding: 10px;
  font-size: larger;
  font-weight: bold;
}

.riac-productcard-price {
  padding: 5px;
  font-size: small;
}

.riac-productcard-rating {
  padding: 5px;
}