
.u-form-1{
  height: 77px;
  margin: 32px 485px 0 0;
  display: flex;
  flex-direction: column;
}

.searchBar{
  width:600px;
  background:#F2F1F9;
  border:none;
  padding:0.5rem;
  margin: 15px
}

.QA {
  margin-top: 50px;
}

.questionList {
  height: 300px;
  overflow: scroll;
  border: 2px solid;
  padding-left: 15px;
}

.answerList {
  height: 100px;
  width: 70%;
  overflow: scroll;
  border: 1px solid #003300;
}

.listTitle {
  font-weight: bold;
}


.modal-main1 {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
/* .modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: block;
} */

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}



.display-block {
  display: flex;
}

.display-none {
  display: none;
}
