.rating-bar {
position: relative;
height: 10px;
width: 120px;
border: 1px solid black;
background-color: rgba(190, 190, 190, 0.548);
}
.filler {
  background: green;
  height: 100%;
  /* transition: width .2s ease-in; */
}